@media(max-width: 1220px){
	/*header*/

	.conteiner__header{
		width:100%;
	}
	.dots-vertical{
		right: 0;
		bottom: 244px;
	}
}
@media(max-width: 1195px){
	/*header*/
	
	.header__slider-title {
    	font-size: 56px;
		line-height: 59.26px;
		margin-bottom: 20px;
	}
	.slider__text {
		margin-bottom: 25px;
	}
	.header__box {
    	max-width: 100%;
    	margin-left:0;
    	margin-top: 10px;
    }
	/*footer*/
	footer .logo{
		margin-left: 0;
		margin-bottom: 20px;
	}
	.footer{
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.footer__list {
    	margin-left: 0px;
    	margin-bottom: 60px;
	}

	/*price*/

	.price__title{
		text-align: center;
	}
	.price__row {
		flex-direction: column;
		align-items: center;
    	justify-content: space-between;
	}
	.price__row-item {
    	width: 550px;
	}
	/*reviews*/
	.reviews__right-text{
		margin-bottom: 30px;
	}

}
@media(max-width: 1150px){
	/*header*/

	.header__slider-inner{
		z-index: 3;
		position: static;
	}
	.header__slider-inner {
    	max-width: 100%;

	}


		/*reviews*/
	.reviews__slider-item{
		padding: 39px 20px 55px;
	}
	.reviews__slider-inner{
		align-items: center;
	}
	.reviews__right-text{
		font-size: 15px;
		line-height: 19.57px;
		margin-bottom: 10px;
	}

	/*contacts*/

	.contacts__inner{
		bottom: 0;
	}
	.contacts__title {
    	margin-bottom: 70px;
	}

}
@media(max-width: 960px){
	/*-----------header-----------*/

	.header__menu {
    	flex-direction: column;
    	grid-gap: 7px;
	}

	.social__wrap{
		display: flex;
		flex-direction: column;
	}
	.social{
		margin-left: 0px;
	}


	
	/*--------- about ----------*/
	.about__items{
		justify-content: center;
	}
	.about__item-wrap:last-child{
		margin:0 auto;
	}
	.elements__box{
		top:-23px;
	}
	/*contacts*/
	.contacts__inner{
		left: 10px;
		
	}
	
	.contacts__forma-text{
		color: #000;
	}

}
@media(max-width: 850px){


	/*--------- about ----------*/
	.about__inner {
    	padding: 33px 0px 54px;
	}
	.about__top{
		padding-right: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	.about__text{
	margin-bottom: 42px;
	}
	.elements__box{
		position: static;
	}
	.about__items{
		margin: 0 auto;
		position: static;
	}
	.about__bottom-img{
		width: 100%;
	}

/*---brands---*/

	.brands__title {
	    font-size: 50px;
	    line-height: 50px;
	    text-align: center;
	}
	.brands__row {
    	flex-direction: column;
    	align-items: center;
	}

	/*price*/

	.price__title-big {
   		 font-size: 61px;
    	line-height: 55.99px;
    	text-align: center;
    }
    .list__problem-text:nth-child(even){
    	text-align: right;
    }
    .reviews__slider-inner{
    	flex-direction: column-reverse;
    	align-items: center;
    	justify-content: space-between;
    }
    .reviews__right {
    	margin-left:0px;
    	width: 100%;
	}
	.reviews__left{
		width: 100%;
	}



  
}
@media(max-width: 750px){
	/*header*/
	.nav {
		padding: 15px 0px;
	}
	.header__slider-wrap {
    	padding: 55px 0px;
	}
	.header__slider-wrap:before {
		left: 44.5%;
	}
	
	.header__inner{
		border:none; 
	}
	.dots-img{
		display: none;
	}
	.header__circle{
		width: 26px;
		height:26px;
		border:1px solid #F9EEDC;
	}
	.circle__cross{
		width: 12px;
		height: 12px;
	}
	.header__slider .slick-prev{
		left: 35%
	}
	.header__slider .slick-next{
		left: 54.5%;
	}
	/*reviews*/
	.reviews__slider .slick-arrow{
		display: none !important;
	}


}

@media(max-width: 600px){
	/*price*/
	  .price__row-item {
		width:100%;
	}

	/*our-work*/

	.our-work__title{
		width: 100%;
		font-size: 37px;
		line-height: 41.18px;
	}
	.our-work__slider-item{
		margin-left: 10px;
		margin-right: 10px;
	}
	

}

@media(max-width: 560px){
	/*header*/
	.nav{
		text-align: center;
	}
	.logo {
    	margin-left: 23px;
	}
	.header__number {
		font-size: 18px;
	}
	.header__slider-inner{
		padding-top: 20px;
		text-align: center;
		margin-left: 0;
	}
	.header__slider-title {

    	font-size: 49px;
    	line-height: 49.26px;
	}
	.form__num-wrap {
    	max-width: 275px;
   	 	margin: 0 auto;
	}
	.form__btn{
		max-width: 275px;
   	 	margin: 0 auto;
	}
	.slick-dots{
		opacity: 0;
	}
	/*--------- about ----------*/
	.element{
		height: 225px;
    	width: 132px;
	}
	.element__small {
    	height: 129px;
    	width: 65px;
    }
    .about__items {
    	display: flex;
    	flex-direction: column;
    	width: 100%;
	}
	.about__item-wrap{
		margin-left: 0;

	}
	.about__item-wrap:last-child {
    	margin: unset;
	}

	/*brands*/

	.brands__title {
    	font-size: 42px;
    	line-height: 40px;
	}

	/*price*/
	.price__title {
		font-size: 43px;
		line-height: 43.18px;
	}
	.rpice__list-span:nth-child(2){
		font-size: 13px;
	}
	.price__box {
    	min-height: 168px;
	}
	.call__box {
    	padding: 33px 5px 42px;
	}
	.price__box-title {
   		font-size: 27px;
    	line-height: 22.48px;
	}
	.price__box-text {
    	font-size: 18px;
    	line-height: 27.48px;
	}
	.price__title-big {
    	font-size: 43px;
    	line-height: 39.99px;
	}

	/*reviews*/

	.reviews__slider-title {
    	font-size: 23px;
    	line-height: 29.57px;
    	text-align: left;
    	width: 70%;
	}
	.reviews__slider-price {
		font-size: 23px;
    	line-height: 29.57px;
    	width: 30%;
	}
	/*contacts*/
	.contacts__title {
    	margin-bottom: 6px;
	}
}
@media(max-width: 450px){
	/*header*/

	.logo {
    	margin-left: 15px;
	}
	.social {
    	margin-left: 0px;
	}
	.header__number {
    	font-size: 13px;
	}
	.header__slider-title {
    	font-size: 31px;
    	line-height: 35.26px;
    	margin-bottom: 18px;
	}
	.form__num-wrap {
    	margin: 19px auto;
	}
	.header__slider-wrap {
    	padding: 20px 0px 0px;
	}
	.header__slider-wrap:before{
		display: none;
	}
	.header__box {

    	margin-top: 36px;
	}
	.header__circle:nth-child(4) .header__circle-text{
		top: 50px;
	}
	.header__slider .slick-arrow{
		display: none !important;
	}
}
@media(max-width: 416px){
	/*header*/
	.logo {
    	margin-left: 0px;
    	
	}
	.logo__img {
    	width: 99px;
    	height: 99px;
	}
	.social__wrap {
		margin-left: 5px;
	}
	.header__number {
    	font-size: 10px;
	}
	.header__circle{
		width: 16px;
		height:16px;
	}
	.circle__cross{
		width: 6px;
		height: 6px;
	}

	/*--------- about ----------*/
	.about__top{
		margin-bottom: 0;
	}
	.elements__box{
		display: none;
	}

	/*brands*/

	.brands__title {
    	font-size: 34px;
    	line-height: 34px;
    	margin-bottom: 15px;
    }
    .select__wrap {
    	width: 285px;
    }
    .select__btn {
    	width: 285px;

	}
	.select__list-item{
		width: 285px;
	}
	.brands__row-item{
		width: 280px;
		height: 390px;
		margin-bottom: 22px;

	}
	.brands__row-title{
		margin-bottom: 0;
	}

	/*price*/
	.price{
		padding-top: 30px;
	}
	.price__title {
    	font-size: 35px;
    	line-height: 35.18px;
	}
	
	.free__box-text {
    	font-size: 22px;
	}
	.price__list-title {
    	font-size: 19px;
   	 	line-height: 23.82px;
    	margin-bottom: 16px;
	}
	.price__list-item {
    	margin-bottom: 15px;
	}
	.rpice__list-span:nth-child(1) {
		font-size: 13px;
		line-height: 16.29px;
	}	
	.price__box-content{
		margin-left: 10px;
		text-align: center;
	}
	.price__box-title {
   		font-size: 22px;
   		text-align: center;
	}
	.free__box-text {
    	font-size: 24px;
    	text-align: center;
	}
	.price__list-wrap {
		padding: 10px;
	}
	.rpice__list-span:nth-child(2) {
		width: 27%;
	}
	.free__box{
		padding: 25px 11px;
	}
	.price__text{
		text-align: center;
	}
	.price__title-big {
    	font-size: 36px;
    	line-height: 32.99px;
	}
	.list__problems-titles{
		padding: 0 10px 10px;
	}
	.list__problems-title {
    	font-size: 14px;
    	line-height: 16.29px;
	}
	.list__problems-item {
		padding: 9px 10px;
	}
	.list__problems-text{
		font-size: 12px;
	}

	/*reviews*/

	.reviews__title {
		font-size: 56px;
		line-height:53.26px; 
	}
	.reviews__slider-top {
		margin-bottom: 5px;
	}
	.reviews__slider-title {
    	font-size: 17px;
    	line-height: 21.57px;
	}
	.reviews__slider-price {
    	font-size: 19px;
	}
	.reviews__master-box{
		flex-direction: column;

	}
	.reviews__slider .slick-prev {
    	left: 20px;
	}
	.reviews__slider .slick-next {
    	right: 20px;
	}

	/*FAQ*/

	.faq__title {
   	 	margin-bottom: 28px;
    	line-height: 36.18px;
    	font-size: 44px;
	}
	.faq__accordeon-box{
		margin-bottom: 17px;
	}
	.faq__accordeon-haeder{
		padding: 10px 13px 12px 0px;
	}
	.faq__accordeon-title{
		font-size: 20px;
    	line-height: 19.09px;
	}
	.faq__accordeon-body {
    	padding-top: 19px;
    	padding-bottom: 40px;
	}

	/*contacts*/
	.contacts__title {
    	margin-bottom: 8px;
    	font-size: 58px;

	}
	.contacts__inner{
		left: 0px;
		
	}
	.contacts__forma-text {
    	font-size: 16px;
    	line-height: 19.94px;
    	margin-bottom: 18px;
	}
	/*footer*/
	.footer{
		padding: 55px 20px 55px;
	}
	.logo__text-footer{
		margin-bottom: 10px;
	}
	.footer__list {
		margin-bottom: 45px;
		text-align: center;
	}
	.footer__list-item{
		margin-bottom: 9px;
		line-height: 18.39px;
	}
	


}